{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro{% endblock title %}

{% block body %}
	<div class="container">
		<div class="row pb-3">
			<div class="col-md-12 mb-3">
                <h1>{{ video.titulo }}</h1>
		    </div>
            <div class="embed-container mw-100">
                <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" width="640" height="361" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
		    </div>
		</div>
	</div>
{% endblock body %}